/*
Theme name: TD Wordpress
Author: Flo
Version: 1.0.0
Description: Thème créé pour le TD de wordpress
Tags: Bootstrap
*/

/*reset du css*/
* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

/*généralités*/
.body-padding {
    padding-left: 15px;
    padding-right: 15px;
}
p {
    font-family: 'PT Sans', sans-serif;
}

/*Menus*/
.header-title {
    background-color: #252323;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

    .header-title a img {
        color: #ffffff;
    }

.nav-menu a {
    color: #818181;
}

.nav-menu a:hover {
    color: #00bac6;
    text-decoration: none;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-transform: uppercase;
}

.sub-menu {
    display: none !important;
}

.sub-menu > li {
    padding-right: 10px;
}

.display-menu {
    display: flex !important;
}

#carousel {
    margin: auto;
}

.carousel-text {
    color: #818181;
}

a[class^="carousel-control"] {
    color: #000 !important;
}

.margin-article {
    padding-bottom: 30px;
    padding-left: 0!important;
    padding-right: 0!important;
}

.background-article {
    background: #eee;
    width: 50%;
    margin: auto !important;
    text-align: center;
}

.border-article {
border: 1px solid #888;
}

th {
    /*border: 1px solid #000;*/
    padding: 5px 20px 5px 20px;
}

tr {
    text-align: center;

}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-separation {
    margin-bottom: 50px;
}
